.element {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 20px;
	margin: 5px;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	line-height: 60px;
	background-color: LightBlue;
}