button {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	height: 52px;
	margin: 5px;
	border: 1px solid Black;
	border-radius: 8px;
	vertical-align: top;
}
button:hover {
	background-color: White;
	color: Black;
}
button:active {
	background-color: Black;
	color: White;
}
input {
	text-align: center;
	font-size: 18px;
	height: 50px;
	width: 100px;
	margin: 5px;
	border: 1px solid Black;
	vertical-align: top;
}