button {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
	width: 100px;
	margin: 5px;
	border: 1px solid Black;
	border-radius: 8px;
	vertical-align: top;
}
button:hover {
	background-color: White;
	color: Black;
}
button:active {
	background-color: Black;
	color: White;
}
#pushButton {
	background-color: #CFC;
}
#popButton {
	background-color: #FCC;
	width: 210px;
}
#peekButton {
	background-color: #EEE;
	width: 210px;
}
input {
	text-align: center;
	font-size: 18px;
	height: 48px;
	width: 98px;
	margin: 5px;
	border: 1px solid Black;
	vertical-align: top;
}
#stackOutput {
	margin: 5px 60px;
}
#stackTop {
	display: inline-block;
	height: 60px;
	margin: 5px;
}
#stackTop p {
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}
.interactive-section {
	display: flex;
	align-items: center;
}
.controls {
	padding: 10px;
	background-color: #CCC;
	border-radius: 15px;
}