.selection-sort {

    #main {
        display: flex;
        align-items: center;
        margin: 10px;
    }
    #legend {
        margin: 10px;
        p {
            font-size: 20px;
            height: 60px;
            line-height: 60px;
            display: inline-block;
            margin: 5px;
        }
    }

    #toggleSortingButton {
        width: 210px;
    }
    #generateArrayButton {
        width: 100px;
        background-color: #EEE;
    }
    .greenButton {
        background-color: #CFC;
    }
    .pinkButton {
        background-color: #FCC;
    }
    .slider {
        width: 190px;
        margin: 25px 15px 15px 15px;
        -webkit-appearance: none;
        height: 10px;
        border-radius: 5px;
        background: #d3d3d3;
      }
    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #04AA6D;
        cursor: pointer;
      }

}