.selection-sort {

    #main {
        display: flex;
        align-items: center;
        margin: 10px;
    }
    #toggleSortingButton {
        width: 210px;
    }
    #generateArrayButton {
        width: 100px;
        background-color: #EEE;
    }
    .greenButton {
        background-color: #CFC;
    }
    .pinkButton {
        background-color: #FCC;
    }

}