.selection-sort {

    #main {
        display: flex;
        align-items: center;
        margin: 10px;
    }
    #toggleSortingButton {
        width: 210px;
    }
    #generateArrayButton {
        width: 100px;
        background-color: #EEE;
    }
    #toggleSortingButton:hover, #generateArrayButton:hover {
		background-color: White;
	}
	#toggleSortingButton:active, #generateArrayButton:active {
		background-color: Black;
		color: White;
	}
    .greenButton {
        background-color: #CFC;
    }
    .pinkButton {
        background-color: #FCC;
    }

}