.main {
	display: flex;
	align-items: flex-start;
	height: 1000px;
}
header, footer {
	height: 75px;
	font-size: 40px;
	font-weight: bold;
	color: #FFF;
	line-height: 75px;
	text-align: center;
	background-color: #26B;
}
footer {
	font-size: 20px;
}