.hash-table {

    display: flex;
    align-items: flex-start;
    margin: 10px;

    #randomButton {
        background-color: #EDF;
        width: 64px;
    }
    #insertButton {
        background-color: #CFC;
        width: 100px;
    }
    #removeButton {
        background-color: #FCC;
        width: 100px;
    }
    #containsButton {
        background-color: #EEE;
        width: 100px;
    }
    #buildButton {
        background-color: #EEA;
        width: 64px;
    }
    #randomButton:hover, #insertButton:hover, #removeButton:hover, #containsButton:hover, #buildButton:hover {
        background-color: White;
    }
    #randomButton:active, #insertButton:active, #removeButton:active, #containsButton:active, #buildButton:active {
        background-color: Black;
        color: White;
    }

    #randomSizeInput, #randomLFInput, #buildSizeInput, #buildLFInput {
        width: 63px;
    }

}