.linked-list {

    display: flex;
    align-items: center;
    margin: 10px;

    p {
        display: inline-block;
        height: 60px;
        line-height: 60px;
    }

    #insertButton {
        background-color: #CFC;
        width: 64px;
    }

    #removeButton {
        background-color: #FCC;
        width: 100px;
    }

    #getButton {
        background-color: #EEE;
        width: 100px;
    }

    #insertButton:hover, #removeButton:hover, #getButton:hover {
        background-color: White;
    }

    #insertButton:active, #removeButton:active, #getButton:active {
        background-color: Black;
        color: White;
    }

    #insertIndex {
        width: 63px;
    }

    #insertValue {
        width: 63px;
    }

    #listOutput {
        margin: 5px 60px;
    }
  
}
